<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Nueva Tarea</title>
    <link rel="stylesheet" href="../static/styles/style.css">
</head>

<body>
    <h1>Agregar Nueva Tarea</h1>
    <form action="/" method="post" class="form">
        <label for="description" class="form-desc">Descripción de la tarea:</label>
        <input type="text" class="form-input" placeholder="Lavar los platos" name="description">
        <button type="submit" class="form-btn">Agregar</button>
    </form>
</body>

</html>